:root{
    --bg-color: #110038;
    --bg-color-input: #FFFFFF;
    --bg:#FFFAFE;
    --bg-gradient-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    --bg-btn:#EE3EFE;
    --bg-btn-hover: #CE36DB;
    --bg-btn-menu: #B4B4B4;
    --border: 1px solid #110038;
    --border-search: 1px solid #808080;
    --border-hover: 1px dotted #110038;
    --border-title: 1px solid #2E32FB;
    --btn-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;;
    --btn-box-shadow-menu:  inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;;
    --btn-box-shador-search:inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    --box-shadow-title:inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
    --txt-letter: 'Chakra Petch', sans-serif;
    --color-letter-white: #FFFFFF;
    --color-btn-letter: #110038;
    --color-letter-grey: #B4B4B4;
}

body{
    background-color: var(--bg-color);
    font-family: var(--txt-letter);}

button{
    cursor: pointer;}

.gradient{
    background-image: var(--bg-gradient-image);
    height: 24px;}

/*---------------------TOPBAR ---------------------*/

header{
    box-shadow: 0 1px 0 0 #110038;
    display: flex;
    align-items: center;}

.txtTopBar{
    color: var(--color-letter-white);
    font-size: 12px;
    letter-spacing: 0px;
    width: 100%;}

/*---------------------MENU ---------------------*/

.sectionMenu{
    height: 118px;
    display: flex;
    justify-content: space-between;
    margin-left: 91px;
    margin-top: 39px;
    width: 83.3%;}

.imgGuifos{
    height: 64px;
    width: 102.6px;}

.btnMenu, .btnCrearGif{
    width: 144px;
    height: 36px;
    background-color: var(--bg-btn);
    border: var(--border);
    box-shadow: var(--btn-box-shadow);}

#btnThemeId{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    padding-bottom: 6px;}

.btnMenu:hover, .btnCrearGif:hover, .btnCrearGif:active, .btnMenu:active{
    background: var(--bg-btn-hover);
    border: var(--border);
    box-shadow: var(--btn-box-shadow);}

.btnMenu, .btnCrearGif, .btnMisGuifos{
    font-size: 16px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;}

.btnMisGuifos{
    margin-left: 16.5px;
    background-color: var(--bg-color);
    height: 36px;
    line-height: 18px;
    border: none;}

.btnMisGuifos:hover{
    border: 1px dotted #FFFFFF;}

.btnMisGuifos:active{
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
}    
#btnArrowId{
    
    width: 36px;
    margin-left: -3.5px;
    border-left: 0px;
    padding-left: 12px;
    padding-right: 12px;}

.btnCrearGif{
    margin-right: 16px;}

/* MENU DESPLEGABLE */
.themeMenu{
    margin-top: -17px;
    display: none;}

.themeMenu ul{
    background-color: var(--bg-btn-menu);
    width: 140px; 
    height: 120px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--btn-box-shadow-menu);
    margin-left: 164px;
    justify-content: start;}

.themeMenu ul li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-left: -30px;}

.btnThemeMenu{
    width: 144px;
    height: 36px;
    margin-top: 15px;
    background-color:var(--bg-btn-menu);
    box-shadow: var(--btn-box-shadow-menu);
    color: var(--color-btn-letter);
    border: 1px solid #808080;}

.btnThemeMenu:hover{
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;}

/*---------------------SEARCH ---------------------*/
#historySearch{
    margin-left: 100px;
    margin-top: 12px;
    width: 83.3%;
}
.btnHistory{
    background: var(--bg-btn);
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-size: 14px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    line-height: 18px;
    height: 34px;
    width: auto;
    margin-right: 8px;
    
}

.containerSearch{
    margin-left: 100px;
    width: 83.3%;
    height: 99px;
    background: var(--bg-btn-menu);
    box-shadow:  inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;}

.containerSearch .headerSearch{
    background-image: var(--bg-gradient-image);
    height: 24px;
    width: 99.8%;}

.txtBuscar{    
    color: var(--color-letter-white);
    letter-spacing: 0;
    font-weight: bold;
    padding: 3px;
    font-size: 14px;}

.search{
    height: 72px;
    background:var(--bg-btn-menu);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99.8%;}

.inputSearch{
    height: 48px;
    width: 88.5%;
    margin-left: 1.1%;
    background: var(--bg-color-input);
    border: 1px solid #979797;
    font-size: 18px;
    text-indent: 4px;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;}

.inputSearch::placeholder{
    font-size: 16px;
    color: var(--color-letter-grey);
    letter-spacing: 0;
    line-height: 22px;    
    padding-left: 1.1%;}

.btnSearch{
    background: var(--bg-btn-menu);
    border: var(--border-search);
    box-shadow: var(--btn-box-shador-search);
    width: 102px;
    height: 36px;
    margin-right: 1.3%;
    font-size: 16px;
    color: #8F8F8F;
    letter-spacing: 0;
    line-height: 18px;}

.inputSearch:focus ~ .btnSearch{
    background: #F7C9F3;
    border: var(--border-hover);
    box-shadow: var(--btn-box-shadow);
    color: var(--color-btn-letter);}

.btnSearch:input{
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}
.imgSearch{
    width: 16px;
    height: 16px;
    opacity: 30%;
    padding-right: 7px;}

.inputSearch:focus ~ .imgSearch{
    opacity: 0%;}

/*SEARCH AUTOCOMPLETE*/
.searchAutocomplete{
    background: var(--bg-btn-menu);
    box-shadow: var(--btn-box-shadow-menu);
    height: 160px;
    z-index: 3;
    margin-left: 100px;
    width: 83.3%;
    display: none;}

.btnSearchResult{
    background: #F0F0F0;
    border: var(--border-search);
    box-shadow: var(--btn-box-shador-search);
    height: 36px;
    width: 88.5%;
    margin-left: 1.1%;
    font-size: 16px;
    color: var(--color-btn-letter);
    letter-spacing: 0;
    line-height: 22px;
    text-align: left;
    padding-left: 1.1%;}

.btnSearchResult:hover{
    background: var(--bg-btn-menu);
    border: var(--border-hover);
}

.containerAutocomplete{
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-around;
    padding-top: 17px;}

/*---------------------SUGGESTION ---------------------*/
.sectionSug{
    margin-top: 64px;}

.txtTitle{
    width: 82.5%;
    height: 32px;
    margin-left: 100px;
    background: var(--bg);
    border: var(--border-title);
    box-shadow: var(--box-shadow-title);
    display: flex;
    align-items: center;
    padding-left: 0.7%;
    z-index: 1;}

.suggestionGif{
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    width: 83.3%;}

.cardGif{
    height: 24px;
    font-size: 14px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    font-weight: bold;
    }

.cardGif .gradient{
    display: flex;
    justify-content: space-between;
}

.containerGif{
    display: flex;
    align-items: flex-end;
    }

.btnVerMas{
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF; 
    width: 81px;
    height: 34px;
    font-size: 14px;
    color:var(--color-letter-white);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;  
    margin-left: 11px;
    position: absolute;
    z-index: 2;
}

.btnVerMas:hover{
    background:  #2629CC;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}
.gif{
    width: 340px;
    height: 280px;
    z-index: 1;
}

/*---------------------TENDENCY---------------------*/
.sectionTendency{
    margin-top: 360px;
}

.gifTendency{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto auto auto auto;
    margin-left: 100px;
    width: 83.3%;}

.imgTendency{
    width: 340px;
    height: 280px;
    /* z-index: 1; */
    margin-top: 15px;
}

#footTendency{
    width: 340px;
    margin-top: -5px;
    opacity: 0%;
    }

.imgTendency:hover ~ #footTendency{
    opacity: 100%;
    z-index: 2;
  
}

/* ESTILADO DE UPLOAD */

.sectionMenuUp{
    height: 118px;
    display: flex;
    align-items: center;
    margin-left: 91px;
    margin-top: 39px;
    width: 83.3%;}

.sectionMenuUp .menu{
    margin-left: 1230px;
}

.menuUpload{
    display: flex;
    align-items: center;
}
.sectionMenuUp .themeMenu{
    position: absolute;
    top: 149px;
    left: 1300px;
}

/*---VENTANA CREAR GIF---*/
.windowCreate{
    width: 684px;
    height:386px;
    background: var(--bg-btn-menu);
    box-shadow: var(--btn-box-shadow-menu);
    margin-left: 500px;
}

.windowCreate .gradient{
    width: 99.8%;
    padding-top: 2px;
    text-indent: 10px;
    font-size: 14px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    margin-top: 50px;
    
}
#imgPrecapture{
    height: 430px;
    margin-top: 2px;
    margin-left: 2px;
    width: 100;
}

#arrowPaso2Id{
    margin-right: 10px;
}

.titleWindows{
    margin-top: 30px;
    margin-left: 25px;
    display: flex;
    align-items: center;}

.titleWindows p{
    margin-left: 16px;
}
.imgWin{
    height: 32px;
    width: 32px;
}

.description{
    margin-top: 17px;
    margin-left: 73px;
    font-size: 14px;
    color: var(--color-btn-letter);
    letter-spacing: 0;
    line-height: 20px;}

.btnComenzar, .btnCapturar, .btnImgCapturar, .btnSubirGifo{
    width: 144px;
    height: 36px;
    background: var(--bg-btn);
    border:var(--border);
    box-shadow: var(--btn-box-shadow);
    font-size: 16px;
    color: var(--color-btn-letter);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-left: 10px;}

.btnCancelar, .btnCancelarUploading{
    width: 144px;
    height: 36px;
    background: var(#FFF4FD);
    border:var(--border);
    box-shadow: var(--btn-box-shadow);
    font-size: 16px;
    color: var(--color-btn-letter);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;}

.misGif{
    margin-top: 153px;
    height: 900px;
}

.btnWindow{
    margin-top: 28px;
    margin-left: 350px;
}

.imgGuifos{
    padding-left: 7px;}



/*---VENTANA PRECAPTURA GIF---*/
.windowPrecapture{
    width: 860px;
    height:548px;
    background: var(--bg-btn-menu);
    box-shadow: var(--btn-box-shadow-menu);
    margin-top: 50px;
    margin-left: 400px;
    display: none;}

.windowPrecapture .gradient{
    width: 99.8%;
    text-indent: 10px;
    font-size: 14px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;}

.windowPrecapture p{
    margin-top: 5px;}

.containerImgPrecapture{
    width: 763px;
    height: 434px;
    background: var(--bg-color-input);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-top: 13px;
    margin-left: 50px;
}

.btnImgCapturar{
    width: 36px;
    height: 36px;
    margin-top: 20px;}

.btnCapturar{
    margin-left: -4.5px;}    

.btnPrecapture{
    margin-left: 628px;
}


/*---VENTANA CAPTURA GIF---*/
.windowCapture{
    width: 860px;
    height:548px;
    background: var(--bg-btn-menu);
    box-shadow: var(--btn-box-shadow-menu);
    margin-top: 50px;
    margin-left: 400px;
    display: none;}

.windowCapture .gradient{
    width: 99.8%;
    text-indent: 10px;
    font-size: 14px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;}

.windowCapture p{
    margin-top: 5px;}

#imgCaptureId{
    height: 430px;
    margin-top: 2px;
    margin-left: 2px;
}
.containerImgCapture{
    width: 763px;
    height: 434px;
    background: var(--bg-color-input);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-top: 13px;
    margin-left: 50px;
}

.btnImgRecording{
    width: 36px;
    height: 36px;
    position: relative;
    top: -17px;
    left: 15px;
    }

.btnListo{
    margin-left: -4.3px;
    width: 144px;
    height: 36px;
    font-size: 16px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    position: relative;
    top: -20px;
    left: 14px;}    

.btnImgRecording, .btnListo{
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;}    

.btnCapture{
    margin-left: 652px;}

.cronometer{
    background: var(--bg-color-input);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    height: 36px;
    width: 124px;
    position: relative;
    top: 21px;
    left: -642px;
    display: flex;
    align-items: center;
    justify-content: center;}

.windowPreview{
    width: 860px;
    height:548px;
    background: var(--bg-btn-menu);
    box-shadow: var(--btn-box-shadow-menu);
    margin-top: 50px;
    margin-left: 400px;
    display: none;
}
.windowPreview .gradient{
    width: 99.8%;
    text-indent: 10px;
    font-size: 14px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;}

.windowPreview p{
    margin-top: 5px;}

.containerImgPreview{
    width: 649px;
    height: 434px;
    background: var(--bg-color-input);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-top: 13px;
    margin-left: 80px;
}

.btnRepetirCaptura{
    width: 144px;
    height: 36px;
    background: var(#FFF4FD);
    border:var(--border);
    box-shadow: var(--btn-box-shadow);
    font-size: 16px;
    color: var(--color-btn-letter);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    position: relative;
    top: -60px;
    left: 542px;}

.btnSubirGifo{
    position: relative;
    top: -60px;
    left: 542px;
}

.cronometerPreview{
    background: var(--bg-color-input);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    height: 36px;
    width: 124px;
    position: relative;
    top: 21px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#gifPreviewId{
    height: 430px;
    margin-top: 2px;
    margin-left: 2px;
}

.forwardImg{
    background: #F7C9F3;
    border: var(--border);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 20px;
    height: 20px;
    position: relative;
    top: -10px;
    left: 170px;
    }
.forwardImg img{
    margin-left: 8px;
}

.download{
    background: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
    width: 240px;
    height: 24px;
    position: relative;
    top: -34px;
    left: 200px;
}

.download img{
    width: 240px;
    height: 24px;}


.windowUploading{
    width: 860px;
    height:548px;
    background: var(--bg-btn-menu);
    box-shadow: var(--btn-box-shadow-menu);
    margin-top: 50px;
    margin-left: 400px;
    display: none;}

.containerUploading{
    width: 832px;
    height: 434px;
    background: var(--bg-color-input);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-top: 13px;
    margin-left: 11px;}

.windowUploading .gradient{
    display: flex;
    justify-content: space-between;}

.windowUploading .gradient p{
    margin-top: -1px;
    margin-left: 4px;
    font-size: 14px;
    color: var(--color-letter-white);
    letter-spacing: 0;}


.contenidoUp{
    display: flex;
    flex-direction: column;
    align-items: center;}

.containerUploading .imgGlobe{
    margin-top: 129px;
    margin-left: 398px;}

.windowUploading img{
    margin-right: 17px;}

.btnCancelarUploading{
    margin-top: 21px;
    margin-left: 702px;
}
.windowGifOk{
    width: 721px;
    height:391px;
    background: var(--bg-btn-menu);
    box-shadow: var(--btn-box-shadow-menu);
    margin-top: 50px;
    margin-left: 400px;
    display: none;
}

.windowGifOk .gradient p{
    margin-left: 4px;
    font-size: 14px;
    color: var(--color-letter-white);
    letter-spacing: 0;
    margin-top: -1px;
}

.imgGifOk{
    width: 362px;
    height: 242px;
    background: var(--bg-color-input);
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-top: 29px;
    margin-left: 27px;
}

/* .miGifOkId{
    margin-top: 1px;
    margin-left: 1px;
} */
.containerGifOk{
    display: flex;}

.msjExito{
    margin-top: 49px;
    margin-left: 27px;
    display: flex;
    flex-direction: column;}

.btnGifOk{
    width: 256px;
    height: 36px;
    background: #FFF4FD;
    border: var(--border);
    box-shadow: var(--btn-box-shadow);
    font-size: 16px;
    color:var(--color-btn-letter);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}
.windowGifOk .gradient{
    display: flex;
    justify-content: space-between;}

.windowGifOk img{
    margin-right: 17px;}

#btnDescargarId{
    margin-top: 14px;}

.btnGifOkLIsto{
    background: #F7C9F3;
    border: var(--border);
    box-shadow: var(--btn-box-shadow);
    width: 144px;
    height: 36px;
    margin-top: 30px;
    margin-left: 531px;
    font-size: 16px;
    color: var(--color-btn-letter);
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;

}

.contenedorMisGif{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin-top: 30px;
    margin-left: 100px;
    width: 83.3%;
}